{{> head }}


    {{> navbar}}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hello, {{ capitalizar 'esTefano' }}!</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>

    <h1>Hola mundo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque similique corporis laudantium ex explicabo labore vel quos quidem et. Hic eum ea dolorum laudantium accusamus soluta fugit esse explicabo labore!</p>

{{> footer }}